/* You can add global styles to this file, and also import other style files */

body
 {
  background-image: url(https://img2.wallspic.com/crops/6/1/6/5/6/165616/165616-ambiente-matemticas-geometria-morado-violeta-3840x2160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }

 